@font-face {
  font-family: 'Poppins';
  src:  url('lib/fonts/Poppins.ttf') format('truetype'), 
        url('lib/fonts/Poppins.woff') format('woff'), 
        url('lib/fonts/Poppins.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Black';
  src:  url('lib/fonts/Inter-Black.woff') format('woff'), 
        url('lib/fonts/Inter-Black.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
html {
  height: 100%;
}
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar { width: 0 !important }

.poppins {
  font-family: 'Poppins';
}

.inter-black {
  font-family: 'Inter Black';
}

.z-6 {
  z-index: 6;
}

.z-5 {
  z-index: 5;
}

.z-4 {
  z-index: 4;
}

.z-3 {
  z-index: 3;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.aaaa {
  background-image: url(./synth.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  animation: ani-synth 1.5s ease-out;
  opacity: .4;
}

.wave {

}

.wave-line {

}



.wave-dot-wrapper {
  width: 5px;
  height: 100px;
  background-color: transparent;
  position: absolute;
  animation: wave-ani 2.5s infinite;
}

@keyframes wave-ani {
  50% {
    transform: translateY(-100%)
  }
}

@keyframes wave-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ani-synth {
  0%, 10% {
    transform: rotateX(90deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: bottom;
  }
}

@keyframes bounce {
  0% { transform: scale(0.4) translateY(25px);}
  30% { transform: scale(1.25) translateY(0);}
  50% { transform: scale(1);}
  80% { transform: scale(1.05);}
  100% { transform: scale(1);}
}

@keyframes moon-dance {
  0% {transform: rotate(0)}
  20% {transform: rotate(7deg)}
  40% {transform: rotate(-2deg) translateY(-3px)}
  60% {transform: rotate(10deg)}
  80%, 100% {transform: rotate(0deg) translateY(0)}
}

@keyframes sun-dance {
  0% {transform: scale(1) translateY(0)}
  20% {transform: scale(1.05)translateY(-2px)}
  40%,50% {transform: scale(0.95) translateY(-3px)}
  70%,80% {transform: scale(1.15) translateY(-2px)}
  100% {transform: scale(1) translateY(0)}
}

/* @keyframes bounce {
  20% { transform: scale(2) translateY(-15px);}
  50% { transform: scale(1);}
} */

@layer components {
  .wave-dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
    /* bottom: 14px;
    left: 788px; */
    position: absolute;
    bottom: 0;
    opacity: 0;
    animation: wave-fade-in 2.5s forwards;
    @apply bg-red-300
  }

  .icon {
    @apply p-2 px-2 rounded border align-top m-2 border-red-400
  }
  .btn {
    @apply p-2 px-4 rounded border align-top m-2 border-red-100 dark:border-red-800 bg-red-400 hover:bg-red-500 hover:scale-105 text-black dark:text-white transition-all
  }
  .fade-stroke-text-dark {
    box-shadow: inset -90px -85px 60px #0e1013;
    /* #0e1013; */
  }
  
  .fade-stroke-text-light {
    box-shadow: inset -90px -85px 60px #fff;
    /* #0e1013; */
  }

  .bounce { 
    -webkit-animation-name: bounce .4s ease-out; 
    animation: bounce .4s ease-out; 
  }

  .moon-dance {
    animation: moon-dance 5s infinite;
  }

  .sun-dance {
    animation: sun-dance 5s infinite;
  }
  .testt {
    transition: box-shadow .1s, transform .1s;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    position: absolute;
    left: 0;
    width: calc(100% - 2rem);
    bottom: 4rem;
    height: calc(100% - 10rem);
    @apply bg-gradient-to-br dark:from-gray-600 dark:to-gray-750 from-gray-100 to-gray-250 shadow-md shadow-[#0003]
  }

  .test {
    display: block;
    box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.479);
  }

  .ttt{
    padding: .3rem;
    padding-top: .75rem;
    border-radius: 5px;
    background-color: red;
    box-sizing: content-box;
    left: -.3rem;
    bottom: -.3rem;
  }

  .glow-test {
    box-shadow: 5px -15px 175px 110px #f8717117;
  }
}